<!DOCTYPE html>
<html lang="en">
<head>
    {{>./meta.html}}

    <title>{{pageTitle}} {{conf.meta.defaultTitle}}</title>
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/markdown.css" rel="stylesheet">
    <link href="/css/haroopress.css" rel="stylesheet">

    <link href="/css/theme.css" rel="stylesheet">
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-64.png">

    <!-- Le javascript -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  {{>./uio/header.html}}
  
  {{{body}}}
  
  {{>./uio/footer.html}}
  
  {{>./plugins/google-analysis.html}}
</body>
</html>
