			<div class="well category">
                <ul class="nav nav-list">
                    <li class="nav-header title">Categories</li>
                    <li class="active"><a href="/category">Home</a></li>
                    <% for(var cate in categories) { %>
                    <li><a href="/category/<%= cate %>"><%= cate %></a></li>
                    <% } %>
                </ul>
            </div>