
            <div id="author" class="well">
                <h3 class="title">About This Site</h3>
                <img src="img/about.gif" alt=""><!-- 임시 -->
                <p>
                    이 사이트는 <a href="http://github.com/rhiokim/haroopress" target="_target">haroopress</a> 엔진으로 구축되어진 사이트입니다.
                </p>
            </div>