<header class="intro-head">
    <div class="inner">
        <div class="container">
            <h1>HAROOPRESS [하루프레스]</h1>

            <p class="lead">
                5분만에 설치하는 블로그 엔진!, 웹 서버와 데이터베이스가 필요없는 초 간편 컨텐츠 메니징 시스템(CMS)! <br>
                다양한 테마, 플러그인, 마크다운 포맷, 데이터 변환 유틸(옥토프레스, 워드프레스 등)<br>
            </p>

            <p><strong>알림! :</strong> 하루프레스는 사용자 여러분의 피드백과 후원,기부를 기다립니다.</p>
        </div>
        <!-- /container -->
        <ul class="quick-links">
            <li>
                <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=rhiokim&repo=haroopress&type=watch&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
            </li>
            <li>
                <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=rhiokim&repo=haroopress&type=fork&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
            </li>
            <li>
                <a href="https://twitter.com/#!/haroopress" class="twitter-follow-button" data-show-count="true">Follow @haroopress</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
            <li>
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="자바스크립트 해커들을 위한 노드 기반의 정적 페이지 블로그 하루프레스" data-url="http://haroopress.github.com" data-via="haroopress">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
        </ul>
    </div>
</header>

<div class="container page-main">
    <div class="row download-info">
        <div class="span12">
            <a href="http://github.com/rhiokim/haroopress" class="btn btn-danger btn-large" onclick="_gaq.push(['_trackEvent', 'intro actions', 'GitHub Project', 'View project on GitHub']);">View Haroopress on Github</a>
            <a href="https://github.com/rhiokim/haroopress/zipball/master" class="btn btn-large" onclick="_gaq.push(['_trackEvent', 'intro actions', 'Download', 'Download <%= config.meta.version %>']);">Download Haroopress <small>(v<%= config.meta.version %>)</small></a>
        </div>
    </div>

    <div class="intro">
        <div class="row bottom">
            <div class="span4">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_042_group.png">-->
                <h2><span class="iconic bolt"></span> 5분안에 설치하는 블로그</h2>
                <p>Git과 Console 이 익숙하다면 설치하는데 걸리는 시간은 체 5분도 되지 않아서 끝나고 바로 포스팅 할 수 있습니다. (<a href="">5분만에 설치하는 블로그 하루프레스! 설치 동영상</a>)</p>
            </div>
            <div class="span4">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_042_group.png">-->
                <h2><span class="iconic document_stroke"></span> No!서버, No!데이터베이스</h2>
                <p>대부분의 블로그 서비스나 엔진은 웹 서버와 데이터베이스가 필요합니다. 하지만 하루프레스 웹 서버도 데이터베이스도 필요 없는 정적 페이지를 기반으로 하는 블로그 엔진입니다. (<a href="http://help.github.com/pages/" target="_blank">Github Pages</a>)</p>
            </div>
            <div class="span4">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_079_podium.png">-->
                <h2><span class="iconic clock"></span> 간편하고 빠른 블로그 엔진</h2>
                <p>커멘드라인 도구에 익숙하다면 하루프레스를 설치하고 사용하는데 부담감 Zero! 에 가깝습니다. 물론 Git, Node, Markdown, JavaScript 를 잘 다룬다면 하루프레스 해커가 될 수 있습니다. (<a href="">블로그 포스팅하고 발행하기</a>)</p>
            </div>
        </div>
        <div class="row bottom">
            <div class="span4">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_163_iphone.png">-->
                <h2><span class="iconic heart_stroke"></span> 감성적인 테마들</h2>
                <p>트위터 부트스트랩을 기반으로 테마 구조가 잡혀있어 개발자스러운 테마를 손 쉽게 적용할 수 있을 뿐아니라 만들 수도 있습니다. (<a href="">테마 목록</a>)</p>
            </div>
            <div class="span4">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_079_podium.png">-->
                <h2><span class="iconic cloud_upload"></span> 다양한 플러그인</h2>
                <p>트위터, 페이스북, 구글플러스, 깃허브등의 소셜라이징을 위한 플러그인 뿐만 아니라 하루프레스의 기본 레이아웃 구성요소를 제외한 대부분이 플러그인 아키텍쳐내에서 동작합니다.</p>
            </div>
            <div class="span4">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_163_iphone.png">-->
                <h2><span class="iconic cloud_upload"></span> 언제 어디서나 블로깅</h2>
                <p>Git 유저라면 Github 나 Bitbucket 을 통해서, 일반 유저라면 Dropbox 동기화를 통해서 언제 어디서든지 블로깅을 할 수 있습니다. (<a href="">Git, Bitbucket 버젼관</a>, <a href="">Dropbox 동기화</a>)</p>
            </div>
        </div>
        <div class="row bottom20">
            <div class="span4">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_163_iphone.png">-->
                <h2><span class="iconic loop_alt1"></span> 데이터 마이그레이션</h2>
                <p>Ruby의 Jekyll 기반의 <a href="http://octopress.org" target="_blank">옥토프레스</a> 데이터 마이그레이션을 일부 지원하고 향후 <del>워드프레스</del>, <del>텀블러</del>, <del>티스토리</del> 등도 지원할 예정입니다. (<a href="">옥토프레스</a>, <a href="">워드프레스</a>, <a href="">텀플러</a>... <a href="">more</a>)</p>
            </div>
            <div class="span4">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_042_group.png">-->
                <h2><span class="iconic link"></span> 도메인 연동 지원</h2>
                <p>본인이 소유한 도메인을 손쉽게 연결할 수 있습니다. (<a href="https://github.com/blog/315-cname-support-for-github-pages" target="_blank">CNAME support for Github Pages</a>)</p>
            </div>
            <div class="span4">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_042_group.png">-->
                <h2><span class="iconic iphone"></span> 크로스플랫폼 지원</h2>
                <p>현재는 맥에서만 지원하며 향후 윈도우, 리눅스까지 지원 확장할 예정입니다.</p>
            </div>
        </div>

        <div class="row bottom">
            <div class="span3">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_042_group.png">-->
                <h2>오픈소스</h2>
                <p>MIT 라이센스를 적용한 오픈소스입니다.</p>
            </div>
            <div class="span3">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_163_iphone.png">-->
                <h2>마크다운</h2>
                <p>사용자가 생산한 모든 콘텐츠는 마크다운 포맷만 지원합니다. (<a href="http://daringfireball.net/projects/markdown/" target="_blank">마크다운이란?</a>)</p>
            </div>
            <div class="span3">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_079_podium.png">-->
                <h2>자바스크립트</h2>
                <p>모든 코드가 자바스크립트로 작성되었습니다.</p>
            </div>
            <div class="span3">
                <!--<img class="bs-icon" src="assets/img/glyphicons/glyphicons_079_podium.png">-->
                <h2>다양한 출력포맷 지원</h2>
                <p>HTML, PDF, ePub, Mobi 등의 다양한 포맷으로의 출력을 지원합니다.</p>
            </div>
        </div>
    </div>

    <hr class="soften">

    <div class="marketing">
        <h1>손쉬운 인스톨 및 사용법</h1>
        <p class="marketing-byline">하루프레스의 설치법과 블로깅 방법에 대해서 소개합니다.</p>
    </div>

    <div class="howto">
        <h2><span class="iconic book_alt"></span> 기본 요구사항</h2>
        <div class="row">
            <div class="span4">
                <h3>하루프레스가 필요한 환경</h3>
            </div>
            <div class="span8">
                <h3>Node.js</h3>
                <img src="/img/intro/nodejs.png" /><br/>
                <p>
                    하루프레스는 모두 노드를 기반으로 한 자바스크립트 코드로 작성되었습니다. 그래서 하루프레스를 이용하기 위해서는 노드 최신버젼을 설치해 주어야 합니다.

                    <a href="http://nodejs.org" target="_blank">노드 공식 사이트</a>를 통해 설치 방법과 레퍼런스를 찾아볼 수 있습니다.
                    <blockquote>하루프레스는 노드 <code>v0.6.12</code> 버젼으로 개발되어졌습니다.</blockquote>
                </p>

                <h3>Git</h3>
                <img src="/img/intro/git.png" /><br/>
                <p>
                    하루프레스는 총 6가지의 오픈소스로 개발되었습니다. 이 오픈소스도 모두 Github.com 을 통해 관리 되어지고 있어 하루프레스에서도 이것들을 서브모듈로 관리되어지고 있습니다. <a href="http://nodejs.org/" target="_blank">Node</a>,<a href="http://git-scm.org/" target="_blank">Git</a>
                </p>
            </div>
        </div>
        <h2><span class="iconic book_alt"></span> 설치</h2>
        <div class="row">
            <div class="span4">
                <h3>콘솔이 익숙한 개발자라면 소스 빌드</h3>
            </div>
            <div class="span8">
                <h3>소스 설치</h3>
                <p>
                    하루프레스는 Node 와 Git 기반으로 동작하기 때문에 기본적으로 Node 의 최신버젼과 Git 을 설치되어 있어야 합니다.
                    설치 방법은 링크를 참고해주세요. <a href="http://nodejs.org/" target="_blank">Node</a>,<a href="http://git-scm.org/" target="_blank">Git</a>
                </p>
                <pre>
    <code>$ git clone git@github.com:rhiokim/haroopress /path/to/yourblog.com
    $ cd /path/to/yourblog.com
    $ make init
    </code></pre>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <h3>다운받아 압축풀고 끝내기</h3>
            </div>
            <div class="span8">
                <h3>수동 설치</h3>
                <p>

                </p>
            </div>
        </div>

        <h2><span class="iconic cog"></span> 환경설정</h2>
        <div class="row">
            <div class="span4">
                <h3>오직 JSON 포맷만을 고수합니다.</h3>
            </div>
            <div class="span8">
                <h3>Meta</h3>
                <p>
                    설명
                </p>

                <h3>Configuration</h3>
                <p>
                    설명
                </p>

                <h3>Plugins</h3>
                <p>
                    설명
                </p>
            </div>
        </div>

        <h2><span class="iconic brush"></span> 컨텐츠 생성</h2>
        <div class="row">
            <div class="span4">
                <h3>블로깅</h3>
            </div>
            <div class="span8">
                <h3>퀵 설치</h3>
                <h3>소스 설치</h3>
            </div>
        </div>

        <h2><span class="iconic share"></span> 배포</h2>
        <div class="row">
            <div class="span4">
                <h3>배포</h3>
            </div>
            <div class="span8">
                <h3>퀵 설치</h3>
                <h3>소스 설치</h3>
            </div>
        </div>
    </div>

    <hr class="soften">
    <div class="marketing">
        <h1>개발자스러운 감각적인 테마들</h1>
        <p class="marketing-byline">개발자스럽지 않는 테마는 여기에 나열하지 않았습니다. 너무 이쁘거나 너무 번잡한 테마는 IE6 에서만 지원합니다.</p>
        <ul class="thumbnails example-sites">
            <li class="span3">
              <a class="thumbnail" href="http://soundready.fm/" target="_blank">
                <img src="http://lorempixel.com/400/400/" alt="SoundReady.fm">
              </a>
            </li>
            <li class="span3">
              <a class="thumbnail" href="http://kippt.com/" target="_blank">
                <img src="http://lorempixel.com/400/400/" alt="SoundReady.fm">
              </a>
            </li>
            <li class="span3">
              <a class="thumbnail" href="http://www.fleetio.com/" target="_blank">
                <img src="http://lorempixel.com/400/400/" alt="SoundReady.fm">
              </a>
            </li>
            <li class="span3">
              <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
                <img src="http://lorempixel.com/400/400/" alt="SoundReady.fm">
              </a>
            </li>
        </ul>
    </div>

    <hr class="soften">
    <div class="marketing">
        <h1>하루프레스를 이용한 아름다운 사이트</h1>
        <p class="marketing-byline">개발자스럽지 않는 테마는 여기에 나열하지 않았습니다. 너무 이쁘거나 너무 번잡한 테마는 IE6 에서만 지원합니다.</p>
        <ul class="thumbnails example-sites">
            <li class="span2">
              <a class="thumbnail" href="http://soundready.fm/" target="_blank">
                <img src="http://lorempixel.com/200/200/" alt="SoundReady.fm">
              </a>
            </li>
            <li class="span2">
              <a class="thumbnail" href="http://kippt.com/" target="_blank">
                <img src="http://lorempixel.com/200/200/" alt="SoundReady.fm">
              </a>
            </li>
            <li class="span2">
              <a class="thumbnail" href="http://www.fleetio.com/" target="_blank">
                <img src="http://lorempixel.com/200/200/" alt="SoundReady.fm">
              </a>
            </li>
            <li class="span2">
              <a class="thumbnail" href="http://www.fleetio.com/" target="_blank">
                <img src="http://lorempixel.com/200/200/" alt="SoundReady.fm">
              </a>
            </li>
            <li class="span2">
              <a class="thumbnail" href="http://www.fleetio.com/" target="_blank">
                <img src="http://lorempixel.com/200/200/" alt="SoundReady.fm">
              </a>
            </li>
            <li class="span2">
              <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
                <img src="http://lorempixel.com/200/200/" alt="SoundReady.fm">
              </a>
            </li>
        </ul>
    </div>
</div>
