            <div class="well">
                {{#attributes.important}}<div class="pull-right bookmark"></div>{{/attributes.important}}
                <div class="page-header">
                    <h1><a href="/post/{{attributes._file}}">{{attributes.title}}</a></h1>
                    <span class="pull-right">{{attributes._printDate}}</span>
                </div>
                <div class="pull-right">
                    <ul class="thumbnails">
                        <li class="thumbnail">
                            <img src="{{attributes.author._gravatar}}"/>
                        </li>
                    </ul>
                </div>
                <div class="markdown-wrapper">
                	{{{attributes.cuthtml}}}
                </div>
                <hr/>
                <a class="pull-right" href="/post/{{attributes._file}}#disqus_thread" data-disqus-identifier="<%= id %>"></a>
                <p>
                    <a href="/post/{{attributes._file}}" class="btn btn-info">Read more...</a>
                </p>
            </div>