
            <div id="author" class="well">
                <div>
                    <h3>About This Site</h3>
                    <p>
                    이 사이트는 노드 기술을 공유하는 사이트로 <a href="http://haroopress.github.com" target="_blank">하루프레스</a>를 기반으로 구축되었습니다.  
                    </p>
                </div>
            </div>
