<div class="container page-page">
    <div class="row">
        <div class="offset1 span10">
            <div class="well">
                <%- page.html %>
            </div>
        </div>
    </div>
</div><!-- /container -->