

.markdown {
    margin-top: 20px;
}
.markdown p {
    line-height: 1.7em;
}

.markdown .pull-left {
    margin-right: 10px;
}

.markdown .pull-right {
    margin-left: 10px;
}

.markdown h1 {
    margin-top: 30px;
}

.markdown h2 {
    margin-top: 28px;
}

.markdown h3 {
    margin-top: 14px;
}

.markdown blockquote p {
    font-size: 1em;
    font-style: italic;
}

.markdown img {
    max-width: 100%;
}

.markdown pre {
  font-size: 1em;
  line-height: 1.2em;
  overflow: auto;
  margin: 1em 0;
  padding: 0;
  border: 0;
}

.markdown pre code {
  font-size: 1.1em;
  line-height: 1.4em;
  white-space: pre;
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 0.5em 0.7em;
  font-family: Consolas, Inconsolata, Courier, monospace;
}

.markdown table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
  border: 0;
}

.markdown tbody {
  margin: 0;
  padding: 0;
  border: 0;
}

.markdown table tr {
  border: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  margin: 0;
  padding: 0;
}

.markdown table tr:nth-child(2n) {
  background-color: #F8F8F8;
}

.markdown table tr th, .markdown table tr td {
  border: 1px solid #CCC;
  text-align: left;
  margin: 0;
  padding: 0.5em 1em;
}

.markdown table tr th {
 font-weight: bold;
}