body, p {
    font: 13px/1.5 'Open Sans',나눔고딕,NanumGothic,"맑은 고딕","Malgun Gothic",Apple-Gothic,Dotum,돋움,Arial,sans-serif; ;
}
body, .navbar-inner {
    background-color: #333;
}
a, a:hover, #author a, .contributors a {
    color: #d6cdba;
}
.container-fluid {
    padding: 0;
}
.site-meta {
    float: left;
    width: auto;
    margin-top: 13px;
    font-size: 14px;
}
.site-meta > span {
    font-size: 26px;
}
.well {
    color: #99948f;
    background: none;
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.navbar .container {
    padding-bottom: 10px;
}
.navbar-inner {
    background: url(../img/bg-body.png) repeat 0 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.nav-collapse {
    height: 60px;
    float: left;
}
.site-meta > .title {
    display: inline;
    padding-right: 10px;
    font: 26px/1.5 'Questrial';
    color: #fff;
}
.site-meta > .author {
    font: 14px/1.4 Georgia,serif;
}
.navbar .nav {
    margin: 16px 0 0 30px;
    font: 17px/1.5 'Questrial';
}
.main, .side { 
    margin-top: 130px;
}
.side {
    padding: 0 0 50px 10px;
    border-left: 2px dotted #48423c;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
.side .title {
    margin-bottom: 20px;
    padding: 3px 5px;
    font: 12px/1.5 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #9c8d6c;
    border-bottom: 1px solid #48423c;
}
.side a {
    color: #99948f;
}
.footer {
    border-top: 2px solid #48423c;
}
.nav-list > li > a, .nav-list .nav-header {
    text-shadow: none;
}
.nav-list > li > a {
    padding: 3px 0;
}
.nav-list > li > a:hover {
    background: none;
}
.nav-list [class^="icon-"] {
    opacity: .6;
    vertical-align: middle;
}
.contributors ul, ._github_repo ul {
    margin: 0;
    list-style: none;
}
.contributors li {
    height: 48px;
    margin-bottom: 10px;
    padding-left: 60px;
}
.contributors img {
    float: left;
    width: 48px;
    height: 48px;
    margin-left: -60px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.contributors strong {
    color: #c3c1B5;
}
.page-main .article {
    margin: 0 30px 55px 0;
    padding: 0 0 55px 170px;
    border-bottom: 1px solid #48423c;
}
.page-main .article:last-child {
    border: none;
}
.page-meta {
    float: left;
    width: 135px;
    margin: 0 0 0 -170px;
    text-align: center;
}
.page-meta img, .tmb {
    width: 45px;
    height: 45px;
    border: 2px solid #999;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.page-meta .time {
    display: block;
    margin-top: 10px;
    padding-bottom: 14px;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.1;
    color: #99948f;
    background: url(../img/bg-line.gif) no-repeat bottom center;
}
.side .well {
    padding: 0 0 0 10px;
}
.page-header {
    margin: 0;
    padding-bottom: 0;
    font-size: .8em;
    border-bottom: 1px solid #666;
}
.article h1 {
    margin-bottom: 15px;
    letter-spacing: 0.03em;
    font-weight: 700;
}
.article > h1, .archives > h1 {
    margin-bottom: 10px;
    text-shadow: 2px 2px 1px black;
    font: bold 2.4em/1.33 'Questrial', Arial, sans-serif;
    color: #9c8d6c;
}
.article h1 a {
    letter-spacing: -0.001em;
    color: #9c8d6c;
}
.markdown p {
    font-size: 1.1em;
    line-height: 1.4;
}
.markdown .thumbnail {
    border: none;
}
.markdown .thumbnail .caption {
    text-align: center;
}
.badge {
    background-color: #d6cdba; 
}
.badge:hover {
    background-color: #9c8d6c;
}
.page-header .post-meta {
    float: right;
    margin-top: -35px;
}
.page-header .post-meta img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.markdown {
    padding-bottom: 20px;
    color: #99948f;
    border-bottom: 1px solid #333;
}

.markdown img {
    max-width: 100%;
}
.article .more, .article .cmt, .archives-body .more {
    color: #24befc;
    font-style: italic;
}
.article .more {
    padding-right: 5px; 
    color: #24befc;
}
.article .more:hover, .article .cmt:hover {
    text-decoration: none;
}
.article .meta {
    padding: 20px 0;
    border: 1px solid #666;
    border-width: 1px 0;
}
.article .prev-next .button {
    text-decoration: none;
}
.article .prev-next .button:hover {
    color: #9c8d6c;
}
.article .prev-next .button i {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -2px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #999;
    font-style: normal;
    font-family: Arial;
    font-size: 15px;
    background: #999 url(../img/icon-prevnext.png) no-repeat 8px 3px;
    text-indent: -9999px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.article .prev-next .button:hover i {
    background-color: #9c8d6c;
}
.article .prev-next .next i {
    margin-left: 8px;
    background-position: -15px 3px;
}
.article .prev-next .prev i {
    margin-right: 8px;
}
.article .disqus {
    margin-top: 1.5em;
}
.article .disqus a {
    text-decoration: none;
}
.social {
    float: right;
}
.social > a, .footer .top {
    display: block;
    float: left;
    width: 34px;
    height: 33px;
    margin: 20px 0 0 2px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-transigion: all 0.1s ease-in-out 0s;
       -moz-transition: all 0.1s ease-in-out 0s;
            transition: all 0.1s ease-in-out 0s;
}
.social > a:hover {
    background-color: #666;
}
.social > a.twitter {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAPCAYAAADQ4S5JAAAAbklEQVR42rXQQQ2AMAyF4UlAAhKQUAlImAQcTcIkVMKk7LwDGYXQlBCgXciWfLf+yfLcWkog9TQ77R2HArsHicCLQQKbJIEdtAbjPcgEH0Se/P9K9kB4LUBSFZksHEDLShx5YzBdvwYkfhyH/W4DE9/ZmOSEIuQAAAAASUVORK5CYII=);
}
.social > a.rss {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAwElEQVR42p2S0Q3DIAxEGYERMgIjeISMwCjdoCN4FEboCBmB73xULUiXnmUR0cTSfQC6pzuLcMx736XpA21N2u/CbDxgoNKUroBSU4bRgh4zY0QKcaleBqL/VqjYQcSbTpMgOmMTtA4gMquSYYYBENYpI+PS43XzD0RD5Y5OUthHGBNM1S7Q1NRRArUQ3OcjhTtv58sEhHUY274HQyxQcht/utirA8bgv62pIwaYcF5wFogA9r44jMvOdyCx6473C1wu9X1jC7RMAAAAAElFTkSuQmCC);
}
.footer .top {
    background-image: url(../img/ico-top.png);
}
#author .gravatar {
    text-align: center;
}
#author .gravatar img {
    width: 144px;
    height: 144px;
    border-radius: 100px;
    border: 2px solid #999;
}
#author .info {
    display: block;
}
.archives h2 {
    margin: 20px 0 10px;
}
.archives-list {
    margin: 0 0 20px;
}
.archives-img {
    float: left;
    margin-right: 30px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.archives-body {
    float: left;
}
.archives-list p {
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .side { 
        padding-left: 0;
        border: none; 
    }
}
@media (max-width: 979px) {
    .social {
        display: none;
    }
}

.social-area {
  width: 100px;
  margin-left: 10px;
}