body {
	font-size: 13px;
	line-height: 1.5;
	background-color: #f5f5f5;
}
body, p { 
	font-family: Georgia, 나눔고딕, NanumGothic, "맑은 고딕", "Malgun Gothic", Apple-Gothic, Dotum, 돋움, Helvetica, Arial, sans-serif;
	/*font-family: 'Open Sans',나눔고딕,NanumGothic,"맑은 고딕","Malgun Gothic",Apple-Gothic,Dotum,돋움,Arial,sans-serif; */
}
a, a:hover {
	color: #363339;
	text-decoration: underline;
}
.well p, .well ul, .well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
	margin-bottom: 1.5em;
	font-size: 15px;
	line-height: 1.6;
}
header.overview {
    margin-top: 100px;
}
#search {
	float: right;
	margin: 19px 10px 0 0;
}
.side, .articles { 
	margin-top: 80px; 
}
.side {
	background: url(../img/bg-dot.gif) repeat-y 0 0;
}
.articles {
	background: url(../img/bg-dot.gif) repeat-y 100% 0;
}
.side {
	padding-top: 38px;
}
.side > .well {
	padding: 0 60px 0 0;
	margin: 0 0 3em;
}
.side .recent .title {
	margin-bottom: .5em;
}
.side > .recent .nav-list li, ._github_repo li {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #d5d5d5;
}
.side > .recent .nav-list li a {
	padding-left: 0;
}
.side > .recent .nav-list li a, .side > .recent .nav-list li a:hover {
	background: transparent;
}
.side > .recent .nav-list li a:hover {
	color: #333;
}
._github_repo a {
	text-decoration: none;
	font-size: 13px;
}
._github_repo ul {
	margin: 0;
}
._github_repo li {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
.fbbd {
	width: 100%;
}
.fb_edge_widget_with_comment {
	float: right;
}
.navbar-inner {
	background: url(../img/bg-header.gif) repeat 0 0;
	box-shadow: none;
}
.navbar .nav > li > a {
	line-height: 45px;
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans',serif;
	text-transform: uppercase;
}
#author {
	padding-top: 0;
}
#author p {
	margin: 1.5em 0 0;
	font: 13px/1.5 'Open Sans', sans-serif;
}
#author a { 
	text-decoration: none; 
}
#author img, img.thumb {
	border: 1px solid #d5d5d5;
}
#author .profile {
	margin-top: 1.5em;
	margin-left: 0;
}
#author .profile li {
	padding: 1px 0 1px 28px;
	font-size: 12px;
	list-style: none;
	border-bottom: 1px solid #d5d5d5;
	background: url(../img/icon-social.png) no-repeat 0 0;
	font-family: 'Open Sans', sans-serif;
}
#author .profile li.nickname {
	text-transform: uppercase;
	color: #333;
	background: none;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	padding-left: 0;
}
#author .profile li.blog {
	background-position: 0 2px;
}
#author .profile li.twitter {
	background-position: 0 -18px;
}
#author .profile li.github {
	background-position: 0 -41px;
}
#author .profile li a {
	color: #666;
}
#author .profile li a:hover, #author .profile li a:focus {
	color: #333;
}
.contributors img {
	width: 50px;
	height: 50px;
	margin-bottom: .5em;
	border: 1px solid #d5d5d5;
}
.contributors p {
	padding: 7px 0 0 10px;
	line-height: 1.2;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
.contributor a, .contributor p {
	float: left;
}
.well {
	padding: 35px 0 0 0;
	border-bottom: 1px solid #eee;
	color: #555;
	border: none;
	box-shadow: none;
}
.articles .well {
	margin-bottom: 0;
	padding-bottom: 1.5em;
}
.articles h2.date, .articles .title {
	margin-bottom: .5em;
	font-size: 22px;
}
.well .nav-list {
	padding: 0;
}
.well .nav-list li {
	margin: 0 0 5px;
	padding: 1px 0;
	font: bold 12px/1.5 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.well .nav-list li.title {
	/*font-family: Georgia,Times New Roman,serif;*/
	font-style: italic;
	font-size: 14px;
	margin-bottom: .5em;
}
.well .nav-list .title a {
	text-decoration: none;
}
.well .nav-list li a {
	display: inline-block;
	margin: 0;
	padding: 3px 6px;
	font-weight: normal;
	background-color: #ddd;
	color: #666;
	text-decoration: none;
	text-shadow: none;
	letter-spacing: .03em;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
.well h1 {
	margin-bottom: 10px;
}
.well li { line-height: 1.6; }
.side .title {
	margin-bottom: .5em;
	/*font-family: Georgia,Times New Roman,serif;*/
	font-size: 14px;
	font-style: italic;
	color: #363339;
	border-bottom: 1px solid #555;
	text-transform: uppercase;
}
.side .title > a {
	text-decoration: none;
}
.side .title > a:hover {
	color: #363339;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .well .nav-list li a:hover {
	background-color: #333;
	color: #fff;
	text-shadow: none;
}
.page-header {
	margin: 3px 0 1.5em;
	padding: 0;
	font-size: 1.25em; 
	color: #363339; 
	border: none;
}
.page-header > h1 {
	font-size: 2.4em;
	font-style: italic;
	/*font-family: Georgia,Helvetica,Arial,sans-serif;*/
}
.page-header > h1 small, .page-header > h1 .badge {
	vertical-align: middle;
}
.page-header > h1 .badge {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
.page-header > h1 > img {
	margin-right: 10px;
}
.page-header > .meta {
	margin-bottom: 10px;
	font: normal 11px/1.5 Verdana;
	text-transform: uppercase; 
}
.page-header .time { 
	padding: 0 5px 0 0;
	font-weight: normal;
	color: #363339;
}
.articles .well > .meta {
	padding: 1.2em 0;
	margin-top: 4em;
	border-top: 1px dashed #d5d5d5;
	background: url(../img/bg-tag.gif) repeat-x left bottom;
	text-align: right;
	/*font: 15px/1.5 font-family: Georgia,Times New Roman,serif;*/
}
.articles .meta .cmt {
	float: left;
	padding: 5px 1px 3px;
	margin: 0;
	line-height: 1.5;
	font: 14px/1.5 'Open Sans', sans-serif;
	text-decoration: none;
}
.articles .more, .articles .more:visited, footer .backtotop {
	display: inline-block;
	padding: 3px 10px;
	font: 12px/1.8 HelveticaNeueBold, Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #363339;
	background: #ddd;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-transigion: all 0.1s ease-in-out 0s;
	   -moz-transition: all 0.1s ease-in-out 0s;
	        transition: all 0.1s ease-in-out 0s;
}
.articles .more:hover, .articles .more:focus, footer .backtotop {
	background: #363339;
	color: #fff;
}
.articles .prev-next .button {
	text-decoration: none;
}
.articles .prev-next .button i {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: -2px;
	vertical-align: middle;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background-color: #999;
	font-style: normal;
	font-family: Arial;
	font-size: 15px;
	background: #999 url(../img/icon-prevnext.png) no-repeat 8px 3px;
	text-indent: -9999px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.articles .prev-next .button:hover i {
	background-color: #363339;
}
.articles .prev-next .next i {
	margin-left: 8px;
	background-position: -15px 3px;
}
.articles .prev-next .prev i {
	margin-right: 8px;
}
.articles .disqus {
	margin-top: 1.5em;
}
.articles .disqus a {
	text-decoration: none;
}
.archives {
	margin-bottom: 3em;
	border-bottom: 1px dashed #d5d5d5;
}
.articles .archive {
	padding-left: 70px;
	margin-bottom: 1.5em;
}
.archive .img {
	float: left;
	margin-left: -70px;
	border: 1px solid #d5d5d5;
}
.archive .bd {
	font-size: 14px;
	line-height: 1.5;
}
.archive .bd p {
	margin: 0;
}
.archive h3 {
	margin-bottom: 3px;
}
.lists {
	margin: 0;
	list-style: none;
}
.lists li {
	margin-bottom: 1.5em;
}
.lists h3 {
	display: inline-block;
	margin: 0 .3em 0 0;
}
footer .backtotop { 
	float: right;
}
.social {
	float: right;
}
.social > a {
	display: block;
	float: left;
	width: 34px;
	height: 33px;
	margin: 16px 0 0 2px;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	-webkit-transigion: all 0.1s ease-in-out 0s;
	   -moz-transition: all 0.1s ease-in-out 0s;
	        transition: all 0.1s ease-in-out 0s;
}
.social > a:hover {
	background-color: #666;
}
.social > a.twitter {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAPCAYAAADQ4S5JAAAAbklEQVR42rXQQQ2AMAyF4UlAAhKQUAlImAQcTcIkVMKk7LwDGYXQlBCgXciWfLf+yfLcWkog9TQ77R2HArsHicCLQQKbJIEdtAbjPcgEH0Se/P9K9kB4LUBSFZksHEDLShx5YzBdvwYkfhyH/W4DE9/ZmOSEIuQAAAAASUVORK5CYII=);
}
.social > a.rss {
	/*background-position: -34px 0;*/
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAwElEQVR42p2S0Q3DIAxEGYERMgIjeISMwCjdoCN4FEboCBmB73xULUiXnmUR0cTSfQC6pzuLcMx736XpA21N2u/CbDxgoNKUroBSU4bRgh4zY0QKcaleBqL/VqjYQcSbTpMgOmMTtA4gMquSYYYBENYpI+PS43XzD0RD5Y5OUthHGBNM1S7Q1NRRArUQ3OcjhTtv58sEhHUY274HQyxQcht/utirA8bgv62pIwaYcF5wFogA9r44jMvOdyCx6473C1wu9X1jC7RMAAAAAElFTkSuQmCC);
}
.footer {
	margin-top: 6em;
	font-size: 12px;
	line-height: 1.7;
	background-color: #ddd;
}
.footer .well {
	background: none;
}
.footer a {
	text-decoration: none;
}
