{{#config.plugins.contributors.display}}
<div class="well contributors">
  <div class="pull-right">
    <a href="/authors"><i class=" icon-info-sign"></i></a>
  </div>
  <h6>contributors</h6>
  
  {{#authorsOrder}}
  <div class="row-fluid">
    <a class="pull-left" href="/authors/{{attributes.name}}" title="{{attributes.body}}">
      <img src="{{attributes._gravatar}}" />
    </a>
    <p>
      <strong>{{attributes.name}}</strong><br/>
      <a href="https://twitter.com/{{attributes.twitter}}" target="_blank">@{{attributes.twitter}}</a>
    </p>
  </div>
  <hr>
  {{/authorsOrder}}
</div>
{{/config.plugins.contributors.display}}